<!DOCTYPE html>
<html>
    <head>
        <title>Secure Chat Lobby</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		body {
		  color : green;
	          background-color : black;
		}
		h1{
		   width : 500px;
		   margin: 0 auto;
		   margin-bottom : 50px;
		}
		.auth{
		   margin : auto;
		   width : 700px;		
		}
	</style>
    </head>
    <body class="matrix">
	<div>
		<h1>Welcome to Secure Chat</h1>
		<div id ="main" class="row">
			<div class="auth">	
			<form id="f" name ="f" action="#" method="POST">
				 <div class="form-group row">
				  <div class="col-md-12">
				     <label for="username" class="col-sm-2 col-form-label">Username :</label>
				        <input type="text" required name="username" class="form-control-plaintext" id="username" placeholder="Username"/>
				  </div>
				    <div class="col-md-12">
				      <label for="username" class="col-sm-2 col-form-label">Certficate :</label>
				      <textarea rows ="10" required name="crt" class="form-control-plaintext" id="certificate" placeholder="Provide a valid certificate to login with.."></textarea>
				    </div>
				    <div class="col-md-12">
				      <label for="pk" class="col-sm-2 col-form-label">Private Key:</label>
				      <textarea rows="10" required name="crt" class="form-control-plaintext" id="pk" placeholder="Provide a private key"></textarea>
				    </div>
				  </div>
				<div>  
				 <input class="btn btn-success" type="button" onclick="login()" value="Join lobby">
				 <input type="button" class="btn btn-success" onclick="window.location.href = 'register.html';" value="Register"/>			        </div> 
			</form>
			</div>
		</div>
	</div>
    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-		wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
	function login(){
	   crt = document.getElementById("certificate").value;
           cn = document.getElementById("username").value;
	   pk = document.getElementById("pk").value;
           body = "certificate="+encodeURIComponent(crt)+"&cn="+cn;  
	   $.post("http://127.0.0.1:5000/login",body, function(result){
		// Store
		localStorage.setItem("crt", crt);
		localStorage.setItem("cn", cn);
		localStorage.setItem("pk",pk);
		window.location.href = 'home.html';
	   })
	  .fail(function() {
	    	alert( "Invalid Credentials" );
	   });		
	}
    </script>
</html>
